.schedule-arrows {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  z-index: 1;
}

.schedule-arrow {
  display: block;
  width: 44px;
  height: 44px;
  border: none;
  background: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  margin: 10px;
  background-image: url('/images/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  cursor: pointer;
}

.schedule-arrow--left {
  transform: rotate(180deg);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.26);
}

.schedule-arrows--show-by-hover {
  opacity: 0;
}
