@import "../../../../../../../node_modules/react-image-gallery/styles/css/image-gallery.css";

.car-gallery {
  position: relative;
  max-width: 580px;
  margin-bottom: 30px;

  @media (max-width: 650px) {
    margin-bottom: 15px;
  }

  .image-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-gallery-content {
    width: 100%;
  }

  .image-gallery-slides {
    border-radius: 16px;
  }

  &.car-gallery--default-img {
    .image-gallery-slide img {
      object-fit: contain;
    }

    .ListingItemGallery__itemImage {
      object-fit: contain;
    }
  }

  .image-gallery-slide img {
    width: 100%;
    height: 420px;
    object-fit: cover;

    @media (max-width: 1200px) {
      height: 360px;
    }

    @media (max-width: 768px) {
      height: 260px;
    }
  }

  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    text-align: left;
  }

  .image-gallery-thumbnail.active {
    border: 2px solid #FABE32;
  }

  .ListingItemGallery {
    margin-left: -14px;
    margin-right: -14px;
    height: 60vw;
  }

  .ListingItemGallery__itemImage {
    object-fit: cover;
  }
}
