.car-main__rent-terms {
  display: flex;

  font-family: YandexSansTextLight, sans-serif;

  &:not(last-child) {
    margin-bottom: 8px;
  }
}

.car-main__rent-terms-key {
  display: inline-block;
  width: 85px;
  flex-shrink: 0;
  margin-right: 16px;

  font-size: 14px;

  color: #8A8E90;
}
