@import "fonts";

* {
  box-sizing: border-box;
}

body {
  font-family: YandexSansTextRegular, sans-serif;
  margin: 0;
  padding: 0;
  color: #202020;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #202020;
  margin: 0;
}

h1 {
  font-size: 32px;
  line-height: 1.25;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.app__main {
  display: flex;
  flex-direction: column;

  flex: 1;
}
